* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Text Styles */
.library-header, .library-sidebar,.add_popup, input{
    color: white;
}
.info{
    font-size: 1.6vh;
}
h1{
    font-size: 4vh;
    margin-left: 1rem;
}

h2{
    font-size: 2.7vh;
}

label, input{
    font-size: 1.9vh;
}
/* buttons */
.green_button {
    width: 7em;
    height: 4em;
    background-color: #0c7d10;
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    font-weight: 600;
    padding: 6px 16px;
    text-align: center;
    vertical-align: middle;
}
.green_button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
.green_button:hover {
    background-color: #095e0c;
}
.green_button:focus {
    box-shadow: rgba(27, 31, 35, .1) 0 0 0 3px;
    outline: none;
}
.green_button:disabled {
    background-color: #0c7d10;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
.green_button:active {
    background-color: #0c7d10;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.red_button {
    width: 7em;
    height: 4em;
    background-color: #7d0c1f;
    border-radius: 20px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
    font-weight: 600;
    padding: 6px 16px;
    text-align: center;
    vertical-align: middle;
}
.red_button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}
.red_button:hover {
    background-color: #5e0921;
}
.red_button:focus {
    box-shadow: rgba(27, 31, 35, .1) 0 0 0 3px;
    outline: none;
}
.red_button:disabled {
    background-color: #0c7d10;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}
.red_button:active {
    background-color: #7d0c1f;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
/* Main area */

.library-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 15fr;
    height: 100vh;
}

/* Header */

.library-header{
    background-color: #000000;
    grid-column: 1 / 3;
    align-items: center;
    display: grid;
}

/* Sidebar */

.library-sidebar{
    background: rgb(39,39,42);
    background: linear-gradient(90deg, rgba(39,39,42,1) 0%, rgba(51,51,55,1) 100%);
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 6fr 1fr;
    align-items: start;
    justify-items: center;
}

.data{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin: 4rem 1rem 0 1rem;
}

.info{
    display: flex;
    justify-content: space-between;
    width: 15em;
}

/* Display Area */

.library-main{
    background: rgb(28,5,14);
    background: linear-gradient(0deg, rgba(28,5,14,1) 0%, rgba(85,13,35,1) 100%);
    
}

/* pop-up */

.add_popup{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    /* visibility: hidden; */
}

.popup_content{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(64, 64, 64, 0.8);
}

.add_popup > div > form{
    background: rgb(28,5,14);
    background: linear-gradient(0deg, rgba(28,5,14,1) 0%, rgba(85,13,35,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.form_buttons{
    display: flex;
    gap: 1.6vh;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: solid rgba(0, 0, 0, 0.4);
    width: 70%;
}

input:focus{
    outline-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}


label{
    width: 70%;
}

.popup_content > div{
    text-align: center;
    align-self: center;

}

@media (max-width: 600px) {
    .popup_content{
        width: 80vw;
        overflow: auto;
        height: 80vw;
    }
  }
